services:
  postgres:
    image: postgres:16
    container_name: mobilemoney-db
    environment:
      POSTGRES_DB: mobilemoney
      POSTGRES_USER: rodrigue
      POSTGRES_PASSWORD: password123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: